
    
    <div class="work-main">
        <!-- Work Grid -->
        <ul class="work-grid">
            <!-- Work Item -->
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/01-RNMOTION_Gillette-Endurance.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a class=".popup-images"  href="https://player.vimeo.com/video/672446205?h=155b7eb866" >
                            <i class="fa fa-plus"></i>
                        </a>
                       
                        <a class=".popup-images" href="https://player.vimeo.com/video/672446205?h=155b7eb866">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Gillette Endurance</h4>
                         
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->
            
            <!-- Work Item -->
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/02-RNMOTION_Gillette-UCL-Sizzle.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="{% static 'AppRNMTV/images/works/img2.jpg' %}" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                       
                       
                        <a href="{% static 'AppRNMTV/images/works/img2.jpg' %}" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Gillette UCL Sizzle</h4>
                         
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->
            
            <!-- Work Item -->
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/03-RNMOTION_Gillette-M3-Turbo.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="{% static 'AppRNMTV/images/works/img3.jpg' %}" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Gillette Confort Gel</h4>
                     
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->

            <!-- Work Item -->
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/04-RNMOTION_Gillette-M3-Turbo.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img4.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Gillette M3 Turbo</h4>
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->
            
            <!-- Work Item -->
            <li class="work-item thumnail-img mix fashion wedding">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/05-RNMOTION_Always-Pad.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img5.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Always Pad</h4>
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->
            
            <!-- Work Item -->
            <li class="work-item thumnail-img mix event wedding">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/06-RNMOTION_Always-Night.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img6.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4> Always Night</h4>
                  
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->

            <!-- Work Item -->
            <li class="work-item thumnail-img mix event">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/07-RNMOTION_Always-D&N.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img7.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Always D&N</h4>
                         
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->

            <!-- Work Item -->
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/08-RNMOTION_Vick-Vaposhower.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img8.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Vick Vaposhower</h4>
                 
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->

            <!-- Work Item -->
            <li class="work-item thumnail-img mix event">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/09-RNMOTION_Dolo-Neurobion-Sports.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img9.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Dolo Sports</h4>
                        
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->

            <!-- Work Item -->
            <li class="work-item thumnail-img mix wedding">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/10-RNMOTION_Sedalmerck-Tienditas.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img10.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Sedalmerck Tienditas</h4>
              
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->

            <!-- Work Item -->
            <li class="work-item thumnail-img mix fashion">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/11-RNMOTION_Pesto-Bismol-Sun-Block.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Pepto Sun Block</h4>
                   
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->

            <!-- Work Item -->
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/12-RNMOTION_Vick-Vaporub-8-horas.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img12.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4> Vaporub 8 horas</h4>
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/13-RNMOTION_Vick-No-touch.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img12.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Vick No touch</h4>
                     
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/14-RNMOTION_Vick-Innovation-Eclipse.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img12.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Vick Eclipse</h4>
                  
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/15-RNMOTION_Vick-How-to-use.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img12.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Vick How to </h4>
                     
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/16-RNMOTION_Airia.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img12.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Airia</h4>
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/17-RNMOTION_Crest-Dentist.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img12.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Crest Dentist</h4>
                       
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/18-RNMOTION_Arc.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img12.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Arc</h4>
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/19-RNMOTION_Defy.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works/img12.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Defy</h4>
                     
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <li class="work-item thumnail-img mix corporate">
                <div class="work-image">
                    <img src="{% static 'AppRNMTV/images/works/20-RNMOTION_Crest-IG.jpg' %}" alt="thumbnail">
                    
                     <!--Hover link-->
                     <div class="hover-link">
                        <a href="images/works/img2.jpg" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="images/works" class="popup-image">
                            <i class="fa fa-plus"></i>
                        </a>
                     </div>
                     <!--End link-->

                     <!--Hover Caption-->
                     <div class="work-caption">
                         <h4>Crest IG</h4>
                     </div>
                     <!--End Caption-->

                </div> <!-- /.work-image-->
            </li> 
            <!--End Work Item -->
        </ul>
        
    </div>
</section>